<html lang="pl">
    <head>
        <meta name="description" content="Strona internetowa Barn Burger">
        <meta name="keywords" content="Barn, Burger, Burgery, Burgers, Warszawa, Warsaw, Najlepszy burger, Najlepsze burgery, The best burger, The best burgers">
        <meta name="author" content="IdeasFactory.pl Rafał Petryka">
        <meta http-equiv="refresh" content="3600">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Barn Burger® &#127828; Warszawa ul. Złota 9</title>
        <script type="text/javascript" src="/assets/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="/assets/lightbox.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.stellar.min.js"></script>
        <script type="text/javascript" src="/assets/waypoints.js"></script>
        <script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/assets/main.js"></script>
        <script type="text/javascript" src="/assets/gallery.js"></script>
        <script type="text/javascript" src="/assets/notify.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.cookiesdirective.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/reset.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/assets/starrating.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/assets/lightbox.css">
        <!-- <link rel='stylesheet' media='screen and (max-width: 640px)' href='/assets/small.css'> -->
        <link rel='stylesheet' media='screen and (min-width: 1px) and (max-width: 620px)' href='/assets/small.css'>
        <link rel='stylesheet' media='screen and (min-width: 620px) and (max-width: 849px)' href='/assets/medium.css'>
        <link rel='stylesheet' media='screen and (min-width: 850px)' href='/assets/large.css'>
        <!-- <link rel='stylesheet' href='/assets/large.css'> -->
        <link rel="shortcut icon" href="/favicon_transparent.ico" type="image/icon">
        <link rel="icon" href="/favicon.ico" type="image/icon">
        <style>
        p{
	        width: 80%;
	        margin: 0px auto 100px auto;
	        color: white;
	        font-family: DKCrayonCrumble;
	        font-size: 14pt;
        }
        .title{
	        width: 80%;
	        margin: 0px auto 20px auto;
	        font-family: "CabinSketch";
	        font-size: 5.9vh;
	        color: #E38E55;
	        text-shadow: 0px 0px 5px #000, 0px 0px 10px #000;
        }
        br {
	        display: block;
	        margin: 10px 0;
        }
        input[type='submit'] { 
        	font-family: DKCrayonCrumble;
        	font-size:13pt;
        	height: 22px;
        }
        </style>
    </head>
    <body>
        <div id="eantics"></div>
        <script type="text/javascript">
        // Using $(document).ready never hurts
        $(document).ready(function(){
        // Cookie setting script wrapper
        var cookieScripts = function () {
        // Internal javascript called
        console.log("Running");
        }

        $.cookiesDirective({
        // privacyPolicyUri: 'myprivacypolicy.html',
        explicitConsent: false,
        position : 'bottom',
        scriptWrapper: cookieScripts,
        // cookieScripts: 'Google Analytics, My Stats Ultimate ',
        backgroundColor: '#000',
        linkColor: '#ffffff'
        });
        });
        </script>
        <div class="main">
            <div class="slide" id="home" data-slide="1" data-stellar-background-ratio="1">
                <!-- <%= link_to_unless_current "Polski", locale: "pl" %> -->
                <img src="/assets/logo.png" id="home-logo" alt="logo" style="margin-top:0px">
                <div class="title">Polityka Prywatności</div>
                <p>1. Serwis zbiera automatycznie tylko i wyłącznie informacje zawarte w plikach cookies.
                <br>2. Pliki (cookies) są plikami tekstowymi (danymi informatycznymi), które przechowywane są w urządzeniu użytkownika serwisu i przeznaczone są do korzystania ze stron serwisu. Cookies zawierają nazwę strony internetowej, z której pochodzą, czas ich przechowywania oraz unikatowy numer.
                <br>3. Operator serwisu Barn S.C. Renata Petryka, Joanna Folman jest podmiotem zamieszczającym na urządzeniu końcowym swojego użytkownika pliki cookies oraz ma do nich dostęp.
                <br>4. Operator serwisu wykorzystuje pliki Cookie w celu:
                dopasowania zawartości strony internetowej do indywidualnych preferencji użytkownika, przede wszystkim pliki te rozpoznają jego urządzenie, aby zgodnie z jego preferencjami wyświetlić stronę;
                umożliwienia użytkownikowi zapamiętania przez niego jego ulubionych burgerów, jak również głosowania na nie
                <br>5. Serwis korzysta z dwóch zasadniczych rodzajów plików (cookies) – stałe i sesyjne. Pliki sesyjne  to pliki tymczasowe i przechowuje się je do momentu opuszczenia strony serwisu (wejście na inną stronę lub wyłączenie przeglądarki). Pliki stałe przechowywane są w urządzeniu użytkownika do momentu ich usunięcia (przez użytkownika) lub przez czas wynikający z ich ustawień.
                <br>6. Użytkownik może dokonać zmiany ustawień swojej przeglądarki, by zablokować obsługę plików (cookies) lub każdorazowo uzyskiwać informacje o ich umieszczeniu w swoim urządzeniu. Pozostałe opcje można sprawdzić w ustawieniach swojej przeglądarki internetowej. Większość przeglądarek jest domyślnie ustawiona na akceptację zapisu plików (cookies) w urządzeniu końcowym.
                <br>7. Zmiany ustawień w przeglądarce internetowej użytkownika mogą ograniczyć dostęp do niektórych funkcji strony internetowej serwisu.
                <br>8. Pliki (cookies) z których korzysta serwis mogą być udostępnione jego partnerom oraz współpracującym z nim reklamodawcą.
                <br>9. Informacje odnośnie ustawień przeglądarek internetowych dostępne są w jej menu (pomoc) oraz na stronie jej producenta.
                </p>

            </div>
            <a href="http://ideasfactory.pl" target="_blank" id="ideasfactory">© IdeasFactory.pl</a>
        </body>
    </html>