body {
  background-color: #231f20;
  font-family: "DKCrayonCrumble";
  font-size: 16px;
  /*font-family: Tahoma;*/
}

@font-face {
    font-family: "DKCrayonCrumble";
    src: url(/assets/DKCrayonCrumble.eot);
    src: url(/assets/DKCrayonCrumble.eot?#iefix) format("embedded-opentype"), url(/assets/DKCrayonCrumble.woff) format("woff"), url(/assets/DKCrayonCrumble.ttf) format("truetype"), url(/assets/DKCrayonCrumble.svg#svgFontName) format("svg")
}

p{
  color: #ccc;
  line-height: 25px;
  font-size: 25px;
}

.napis {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 50px;
  color: #ccc;
}

.item {
  text-align: center;
  margin-bottom: 40px;
}

.item img {
  padding-right: 20px;
  vertical-align: middle;
  height: 70px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item a {
  font-family: Tahoma;
  text-decoration: none;
  font-size: 30px;
  padding: 25px;
  color: #eee;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item a:hover {
  color: #000;
}

.item a img:hover {
  -webkit-filter: brightness(0);
  filter: brightness(0);
}

.logo {
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.logo img {
  width: 30%;
  opacity: 0.5;
    /*transition: all 0.5s ease;*/
    /*vertical-align: bottom;*/;
}

.logo img:hover {
  opacity: 1;
}

#ideasfactory {
  position: fixed;
  font-size: 16px;
  right: 2vh;
  bottom: 2vh;
  z-index: 2;
  font-family: "Trebuchet MS";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
  text-shadow: 0 0 5px black, 0 0 10px black;
  color: #e38e55;
    /*z-index: 5;*/
  text-decoration: none;
}

#ideasfactory:before {
  content: "Fabryka stron internetowych ";
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /*text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px black, 0 0 15px black;*/
  opacity: 0;
  top: -30px;
  color: #FFEC5F;
  -webkit-transition: all .5s;
  transition: all 0.5s;
}

#ideasfactory:hover:before {
  opacity: 1;
  top: 0px;
}

#ideasfactory:hover {
  color: #FFEC5F;
  opacity: 1;
}

table {
  background: #231f20;
  border: 1px solid gray;
  border-collapse: collapse;
  color: #fff;
  font: normal 14px verdana, arial, helvetica, sans-serif;
  width: 100%;
}

table a{
  font-size: 14px;
}

caption {
  border: 1px solid #5C443A;
  color: #5C443A;
  font-weight: bold;
  letter-spacing: 20px;
  padding: 6px 4px 8px 0px;
  text-align: center;
  text-transform: uppercase;
}

td, th {
  color: #eee;
  padding: .4em;
}

tr {
  border: 1px dotted gray;
}

thead th, tfoot th {
  background: #5C443A;
  color: #FFFFFF;
  padding: 3px 10px 3px 10px;
  text-align: left;
  text-transform: uppercase;
}

tbody td a {
  color: #595959;
  text-decoration: none;
}

tbody td a:visited {
  color: gray;
  text-decoration: line-through;
}

tbody td a:hover {
  text-decoration: underline;
}

tbody th a {
  color: #595959;
  font-weight: normal;
  text-decoration: none;
}

tbody th a:hover {
  color: #595959;
}

tbody td+td+td+td a {
  background-image: url('bullet_blue.png');
  background-position: left center;
  background-repeat: no-repeat;
            /*color:#000;*/
  padding-left: 15px;
}

tbody td+td+td+td a:visited {
  background-image: url('bullet_white.png');
  background-position: left center;
  background-repeat: no-repeat;
}

tbody th, tbody td {
  text-align: left;
  vertical-align: top;
}

tfoot td {
  background: #5C443A;
  color: #FFFFFF;
  padding-top: 3px;
}

.odd {
  background: #fff;
}

tbody tr:hover {
  background: #000;
  border: 1px solid #000;
  color: #000000;
}

#ideasfactory {
  position: fixed;
  font-size: 16px;
  right: 2vh;
  bottom: 2vh;
  z-index: 2;
  font-family: "Trebuchet MS";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
  text-shadow: 0 0 5px black, 0 0 10px black;
  color: #e38e55;
    /*z-index: 5;*/
  text-decoration: none;
}

#ideasfactory:before {
  content: "Fabryka stron internetowych ";
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /*text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px black, 0 0 15px black;*/
  opacity: 0;
  top: -30px;
  color: #FFEC5F;
  -webkit-transition: all .5s;
  transition: all 0.5s;
}

#ideasfactory:hover:before {
  opacity: 1;
  top: 0px;
}

#ideasfactory:hover {
  color: #FFEC5F;
  opacity: 1;
}

.link{
  /*margin-top: 50px;*/
  width: 50%;
  margin-bottom: 20px;
  font-size: 23px;
  color: #eee;
  text-decoration: none;
}

.link:visited{
  /*margin-top: 50px;*/
  /*margin-bottom: 100px;*/
  font-size: 23px;
  color: #eee;
  text-decoration: none;
}
h2{
  color: #ccc;
}
h3{
  color: #ccc;
}
a{
  color: #C43C00;
  text-decoration: none;
  font-size:20px;
}
a:hover{
  color: #C43C00;
  text-decoration: none;
}
