<table>
    <thead>
        <th>Name</th>
    </thead>
    <tbody>
<% @news.each do |news| %>
    <tr>
        <td><%= news.text %></td>
        <td><%= news.date %></td>
    </tr>
<% end %>
    </tbody>
</table>