default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: postgres
  host: localhost

development:
  <<: *default
  database: barnburger_development

test:
  <<: *default
  database: barnburger_test

production:
  <<: *default
  database: barnburger_development
