@media (min-width: 1px) and (max-width: 620px) {
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
}
h2{
    font-family: DKCrayonCrumble !important;
    margin-left: 10% !important;
    width: 80%;
    float: left;
    display: inline-block;
    color: #FFFFEC;
    text-shadow: 0 0 15px #000, 0 0 5px #000, 0 0 2px black;
    font-size: 100% !important;
    font-size: 2vh !important;
    line-height: 120% !important;
    text-align: center;
    margin-bottom: 3% !important;
    font-weight: 100 !important;
}
a {
    color: #e38e55;
    z-index: 5;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}
a:hover {
    color: #FFEC5F
}
span {
    color: #e38e55
}
@font-face {
    font-family: DKCrayonCrumble;
    src: asset_url('DKCrayonCrumble.eot');
    src: asset_url('DKCrayonCrumble.eot?#iefix') format("embedded-opentype"), asset_url('DKCrayonCrumble.woff') format("woff"), asset_url('DKCrayonCrumble.ttf') format("truetype"), asset_url('DKCrayonCrumble.svg#svgFontName') format("svg")
}
@font-face {
    font-family: CabinSketch;
    src: asset_url('CabinSketch-Bold.eot');
    src: asset_url('CabinSketch-Bold.eot?#iefix') format("embedded-opentype"), asset_url('CabinSketch-Bold.woff') format("woff"), asset_url('CabinSketch-Bold.ttf') format("truetype"), asset_url('CabinSketch-Bold.svg#svgFontName') format("svg")
}
.navigation {
    height: auto;
    font-family: DKCrayonCrumble;

    padding: 0;
    margin: 0;
    background-color: black;
    position: relative;
    z-index: 10;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.navigation li {
    text-align: center;
    display: block;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top:15px;
    padding-bottom: 13px;
    font-size: 18px;
}

/*.navigation li:last-child{
    padding-bottom:1px;
    border-bottom: 1px solid red;

}*/
/*.navigation li:first-child{
    margin-left: 7.5px;
}*/
.navigation .link {
    width: 100%;
    display: block;
    background-color: #111111;
    float: left;
}
.navigation .link a {
    display: block;
        padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top:15px;
    padding-bottom: 13px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.navigation .link a:last-child{
    margin-right: 7.5px;
}
.navigation .link a:hover {
    color: #ff6600;
}
.navigation li:after {
    /*content: "·";*/
}
.navigation li a {
    color: #fff;
    text-decoration: none;
}
.navigation li:hover {
    background: -webkit-linear-gradient(#565656, #232323);
    background: linear-gradient(#565656, #232323);
}
.navigation li a:hover {
    /*opacity: 1;*/
}
/*.navigation .active {
    background: -moz-linear-gradient(top, #565656, #232323);
    background: -o-linear-gradient(top, #565656, #232323);
    background: -webkit-linear-gradient(top, #565656, #232323);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #565656), color-stop(1, #232323));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#565656, EndColorStr=#232323)";
    background: linear-gradient(top, #565656, #232323);
    background: -moz-linear-gradient(top, #565656, #232323);
    background: -o-linear-gradient(top, #565656, #232323);
    background: -webkit-linear-gradient(top, #565656, #232323);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #565656), color-stop(1, #232323));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#565656, EndColorStr=#232323)";
    background: linear-gradient(top, #565656, #232323);
    background: -moz-linear-gradient(top, #565656, #232323);
    background: -o-linear-gradient(top, #565656, #232323);
    background: -webkit-linear-gradient(top, #565656, #232323);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #565656), color-stop(1, #232323));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#565656, EndColorStr=#232323)";
    background: linear-gradient(top, #565656, #232323);
    background: -moz-linear-gradient(#565656, #232323);
    background: -o-linear-gradient(#565656, #232323);
    background: -webkit-linear-gradient(#565656, #232323);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #565656), color-stop(1, #232323));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#565656, EndColorStr=#232323)";
    background: linear-gradient(#565656, #232323);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#565656, EndColorStr=#232323)";
    background: -moz-linear-gradient(top, #565656, #232323);
    background: -o-linear-gradient(top, #565656, #232323);
    background: -webkit-linear-gradient(top, #565656, #232323);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #565656), color-stop(1, #232323));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#565656, EndColorStr=#232323)";
    background: linear-gradient(top, #565656, #232323);
    background: -moz-linear-gradient(#565656, #232323);
    background: -o-linear-gradient(#565656, #232323);
    background: -webkit-linear-gradient(#565656, #232323);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #565656), color-stop(1, #232323));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#565656, EndColorStr=#232323)";
    background: linear-gradient(#565656, #232323);
    background: -moz-linear-gradient(#565656, #232323);
    background: -o-linear-gradient(#565656, #232323);
    background: -webkit-linear-gradient(#565656, #232323);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #565656), color-stop(1, #232323));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#565656, EndColorStr=#232323)";
    background: linear-gradient(#565656, #232323);
    background: -moz-linear-gradient(#565656, #232323);
    background: -o-linear-gradient(#565656, #232323);
    background: -webkit-linear-gradient(#565656, #232323);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #565656), color-stop(1, #232323));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#565656, EndColorStr=#232323)";
    background: linear-gradient(#565656, #232323);
    background: -moz-linear-gradient(#565656, #232323);
    background: -o-linear-gradient(#565656, #232323);
    background: -webkit-linear-gradient(#565656, #232323);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #565656), color-stop(1, #232323));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#565656, EndColorStr=#232323)";
    background: linear-gradient(#565656, #232323)
}*/

.slide {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative
}
.button {
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    margin-left: -25px;
    background-image: asset_url('arrow.png');
    -webkit-filter: drop-shadow(0 0 5px #000);
    filter: drop-shadow(0 0 5px #000);
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out
}
.button:hover {
    -webkit-filter: brightness(130%);
    filter: brightness(130%)
}
.button.last {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}
.english_version {
    /*width: 5vw;*/
    /*height: auto;*/
    position: fixed;
    right: 5px;
    top: 52px;
    z-index: 2;
}

.english_version img{
    width: 5vw;
    height: 3vw;
        filter: alpha(opacity=70);
    opacity: 0.4;
    color: #e38e55;
    transition: all .4s ease-out;
}

.english_version img:hover{
     opacity: 1;
}
#ideasfactory {
    position: fixed;
    font-size: 16px;
    right: 2vh;
    bottom: 2vh;
    z-index: 2;
    font-family: DKCrayonCrumble;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    text-shadow: 0 0 5px black, 0 0 10px black;
    color: #e38e55;
    /*z-index: 5;*/

text-decoration: none;
}
#ideasfactory:before {
    content: "Fabryka stron internetowych ";
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /*text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px black, 0 0 15px black;*/

opacity: 0;
    top: -30px;
    color: #FFEC5F;
    -webkit-transition: all .5s;
    transition: all 0.5s;
}
#ideasfactory:hover:before {
    opacity: 1;
    top: 0px;
}
#ideasfactory:hover {
    color: #FFEC5F;
    opacity: 1;
}
#home {
    margin-top: 0;
    height: auto;
    background-image: asset_url('slide1/wood_sma.jpg');
    float: left;
    background-size: cover;
    background-repeat: repeat-y;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='asset_url('bg1.jpg')',sizingMethod='scale')";
    display: block;
    text-align: center;
    z-index: 2
}
#home-logo {
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 40%;
    display: block;
    margin: auto;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}
#home-logo:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05)
}
.prawdziwa-historia {
    float: left;
    color: #fff;
    width: 90%;
    margin-left: 5%;
    text-align: left;
    display: block;
    height: auto;
    word-wrap: break-word;
    /*overflow: hidden;*/

/*overflow-y: auto*/

margin-bottom: 30px;
    /*resize: both;*/

overflow: none;
}
.prawdziwa-historia .tytul {
    font-family: CabinSketch;
    font-size: 50px;
    font-size: 5.9vh;
    color: #e38e55;
    text-shadow: 0 0 5px black, 0 0 10px black;
    padding-right: 3%;
    margin-bottom: 5%
}
.prawdziwa-historia p {
    font-family: DKCrayonCrumble;
    margin-bottom: 2%;
    line-height: 100%;
    font-size: 35px;
    font-size: 3.7vh;
    text-shadow: 0 0 15px #000, 0 0 5px #000;
    color: #ffffff;
    padding-right: 3%
}
.aktualnosci {
    float: left;
    color: #fff;
    width: 90%;
    margin-left: 5%;
    text-align: right;
    display: block;
    height: auto;
    /*overflow: hidden;*/
    /*overflow-y: auto*/
    margin-bottom: 120px;
    /*resize: both;*/
    overflow: none;
}
.aktualnosci .tytul {
    word-wrap: break-word;
    font-family: CabinSketch;
    font-size: 50px;
    font-size: 5.9vh;
    color: #e38e55;
    text-shadow: 0 0 5px black, 0 0 10px black;
    padding-right: 3%;
    margin-bottom: 5%
}
.aktualnosci li {
    font-family: DKCrayonCrumble;
    margin-bottom: 2%;
    line-height: 100%;
    font-size: 35px;
    font-size: 3.7vh;
    text-shadow: 0 0 15px #000, 0 0 5px #000;
    color: #ffffff;
    padding-right: 3%;
    margin-top: 2%;
}
.aktualnosci ul {
    list-style-position: outside;
    list-style-type: none;
    padding: 0;
    margin: 0
}
#menu {
    float: left;
    background-image: asset_url('slide2/bg_sma.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    z-index: 2;
    height: auto
}
.menu-napis {
    color: #e38e55;
    padding-top: 4%;
    text-align: center;
    font-size: 50px;
    font-size: 8vh;
    font-family: CabinSketch;
    text-shadow: 0 0 5px black, 0 0 10px black;
    margin-bottom: 1%
}
.menu-1 {
    margin-left: 5%;
    width: 90%;
    height: auto;
    /*overflow-y: auto;*/

float: left;
    display: block;
    font-family: DKCrayonCrumble;
    color: #eeeeee;
    text-shadow: 0 0 15px #000, 0 0 5px #000;
    font-size: 30px;
    font-size: 3vh;
    line-height: 95%;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out
}
.menu-1:hover {
    color: #cdcdcd
}
.odstep {
    padding-right: 3%
}
.menu-1 p {
    font-family: DKCrayonCrumble;
    line-height: 90%;
    font-size: 50px;
    font-size: 5vh;
    color: #fff;
    margin-bottom: 0%;
    margin-top: 3%;
    padding-right: 3%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}
.menu-1 p:hover {
    color: #e38e55
}
.menu-2 {
    margin-left: 5%;
    width: 90%;
    height: auto;
    /*overflow-y: auto;*/

float: left;
    display: inline-block;
    font-family: DKCrayonCrumble;
    color: #eeeeee;
    text-shadow: 0 0 15px #000, 0 0 5px #000;
    font-size: 30px;
    font-size: 3vh;
    line-height: 95%;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out
}
.menu-2:hover {
    color: #cdcdcd
}
.menu-2 p {
    font-family: DKCrayonCrumble;
    line-height: 90%;
    font-size: 50px;
    font-size: 5vh;
    color: #fff;
    margin-bottom: 0%;
    margin-top: 3%;
    padding-right: 3%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}
.menu-2 p:hover {
    color: #e38e55
}
.sezonowe-napis {
    word-wrap: break-word;
    width: 100%;
    overflow: hidden;
    color: #e38e55;
    margin-top: 6%;
    float: left;
    text-align: center;
    font-size: 50px;
    font-size: 5.9vh;
    font-family: CabinSketch;
    text-shadow: 0 0 5px black, 0 0 10px black
}
.sezonowe-napis .data {
    margin-top: 0;
    margin-bottom: 3%;
    font-size: 30px;
    font-size: 3vh;
    color: #d07639;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}
.sezonowe-napis .data:hover {
    font-size: 80%
}
.menu-1b {
    margin-left: 5%;
    width: 90%;
    height: auto;
    /*overflow-y: auto;*/

float: left;
    display: block;
    font-family: DKCrayonCrumble;
    color: #eeeeee;
    text-shadow: 0 0 15px #000, 0 0 5px #000;
    font-size: 30px;
    font-size: 3vh;
    line-height: 95%;
    margin-bottom: 20px;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out
}
.menu-1b:hover {
    color: #cdcdcd
}
.menu-1b p {
    font-family: DKCrayonCrumble;
    line-height: 90%;
    font-size: 50px;
    font-size: 5vh;
    color: #fff;
    margin-bottom: 0%;
    margin-top: 3%;
    padding-right: 3%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}
.menu-1b p:hover {
    color: #e38e55
}
.menu-2b {
    margin-left: 5%;
    width: 90%;
    height: auto;
    /*overflow-y: auto;*/

float: left;
    display: block;
    font-family: DKCrayonCrumble;
    color: #eeeeee;
    text-shadow: 0 0 15px #000, 0 0 5px #000;
    font-size: 30px;
    font-size: 3vh;
    line-height: 95%;
    margin-bottom: 130px;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out
}
.menu-2b:hover {
    color: #cdcdcd
}
.menu-2b p {
    font-family: DKCrayonCrumble;
    line-height: 90%;
    font-size: 50px;
    font-size: 5vh;
    color: #fff;
    margin-bottom: 0%;
    margin-top: 3%;
    padding-right: 3%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}
.menu-2b p:hover {
    color: #e38e55
}
#galeria {
    background-image: asset_url('slide3/bg_sma.jpg');
    z-index: 2;
    float: left;
    height: auto;
    background-size: cover;
    background-repeat: repeat-y;
}
.galeria-napis {
    color: #e38e55;
    padding-top: 4%;
    text-align: center;
    font-size: 50px;
    font-size: 8vh;
    font-family: CabinSketch;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
    margin-bottom: 6%
}
.galeria-1 {
    float: left;
    color: #fff;
    width: 90%;
    height: auto;
    margin-bottom: 60%;
    margin-left: 5%
}
.galeria-1 #zdjecia1 {
    display: block;
    float: left;
}
.galeria-1 #zdjecia1 img {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 50%;
    margin-left: 20%;
    /*margin-left: 2.5%;*/

position: absolute;
    z-index: 1;
    float: left;
    display: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}
.galeria-1 #zdjecia1 img.active {
    /*    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;*/

z-index: 3;
}
.galeria-1 #zdjecia1 img.active:hover {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    filter: brightness(1.2)
}
.galeria-1 .tytul {
    text-align: center;
    font-size: 50px;
    font-size: 5.9vh;
    font-family: CabinSketch;
    color: #e38e55;
    margin-bottom: 5%;
    word-wrap: break-word;
    text-shadow: 0 0 5px black, 0 0 10px black
}
.galeria-2 {
    float: left;
    color: #fff;
    width: 90%;
    height: auto;
    margin-bottom: 60%;
    margin-left: 5%
}
.galeria-2 #zdjecia2 {
    display: block;
    float: left
}
.galeria-2 #zdjecia2 img {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 50%;
    margin-left: 20%;
    /*margin-left: 2.5%;*/

position: absolute;
    z-index: 1;
    float: left;
    display: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}
.galeria-2 #zdjecia2 img.active {
    /*    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;*/

z-index: 3
}
.galeria-2 #zdjecia2 img.active:hover {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    filter: brightness(1.2)
}
.galeria-2 .tytul {
    text-align: center;
    font-size: 50px;
    font-size: 5.9vh;
    font-family: CabinSketch;
    color: #e38e55;
    margin-bottom: 5%;
    word-wrap: break-word;
    text-shadow: 0 0 5px black, 0 0 10px black
}
.galeria-3 {
    float: left;
    color: #fff;
    width: 90%;
    height: auto;
    margin-bottom: 75%;
    margin-left: 5%
}
.galeria-3 #zdjecia3 {
    display: block;
    float: left
}
.galeria-3 #zdjecia3 img {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    width: 50%;
    margin-left: 20%;
    /*margin-left: 2.5%;*/

position: absolute;
    z-index: 1;
    float: left;
    display: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}
.galeria-3 #zdjecia3 img.active {
    /*    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;*/

z-index: 3
}
.galeria-3 #zdjecia3 img.active:hover {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    filter: brightness(1.2)
}
.galeria-3 .tytul {
    text-align: center;
    font-size: 50px;
    font-size: 5.9vh;
    font-family: CabinSketch;
    color: #e38e55;
    margin-bottom: 5%;
    width:100%;
    /*word-wrap: break-word;*/
    text-shadow: 0 0 5px black, 0 0 10px black
}
#pasibrzuch {
    background-image: asset_url('slide4/bg_sma.jpg');
    z-index: 2;
    float: left;
    height: auto;
    background-size: cover;
    background-repeat: repeat-y;
}
.pasibrzuch-napis {
    word-wrap: break-word;
    color: #e38e55;
    padding-top: 5%;
    text-align: center;
    font-size: 50px;
    font-size: 8vh;
    font-family: CabinSketch;
    text-shadow: 0 0 5px black, 0 0 10px black
}
.pasibrzuch-text {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    float: left;
    display: inline-block;
    font-family: DKCrayonCrumble;
    color: #FFFFEC;
    text-shadow: 0 0 15px #000, 0 0 5px #000, 0 0 2px black;
    font-size: 30px;
    font-size: 6vh;
    line-height: 120%;
    text-align: center;
    margin-bottom: 120px;
}
#kontakt {
    background-image: asset_url('slide5/bg_sma.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    z-index: 2;
    float: left;
    height: auto;
}
.kontakt-napis {
    color: #e38e55;
    padding-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 50px;
    font-size: 8vh;
    font-family: CabinSketch;
    text-shadow: 0 0 5px black, 0 0 10px black
}
.kontakt-text {

    margin-top: 1%;
    margin-left: 5%;
    width: 90%;
    /*min-width: 400px;*/
    float: left;
    display: block;
    font-family: DKCrayonCrumble;
    color: #FFFFEC;
    text-shadow: 0 0 5px black, 0 0 10px black;
    font-size: 30px;
    font-size: 5.5vh;
    line-height: 95%;
    text-align: center;
}
.kontakt-text p {
    /*text-align: center;*/
    color: #e38e55;
    margin-top: 7%;
    margin-bottom: 10px;
    padding-right: 0;
    font-size: 50px;
    font-size: 6vh;
    font-family: CabinSketch;
    text-shadow: 0 0 5px black, 0 0 10px black;
    word-wrap: break-word;
}
.kontakt-text span {
    display:block;
    text-align: center;
    font-size: 15px;
    font-size: 5vh;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}
.kontakt-text span:hover {
    font-size: 100%
}
.kontakt-text sup {
    vertical-align: super;
}
.kontakt-mapka {
    margin-top: 1%;
    width: 90%;
    margin-left: 5%;
    float: left;
    display: block
}
.kontakt-mapka p {
    color: #e38e55;
    margin-top: 4%;
    font-size: 50px;
    font-size: 6vh;
    font-family: CabinSketch;
    text-shadow: 0 0 5px black, 0 0 10px black;
    margin-bottom: 5%;
    text-align: center;
}
.kontakt-mapka iframe {
    width: 100%;
    height: 50%;
    border-width: 0;
    box-shadow: 0 0 10px black;
    margin-bottom: 120px;
}
.fb-like {
    width:0;height:0;overflow:hidden;
    display:none
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(128, 128, 128, 0.4);
}
}