.star-rating, .star-rating input:hover, .star-rating input:active, .star-rating .current-rating {
    background: url(/assets/star.png) left -1000px repeat-x;
    display: inline-block;
}
input {
    z-index: 999;
    background: none;
}
input.two-star{
    margin-left: 25px;
    margin-right: 25px;
}
input.three-star{
    margin-left: 50px;
}
input.four-star{
    margin-left: 75px;
}
input.five-star{
    margin-left: 100px;
}
.star-rating {
    position: relative;
    width: 125px;
    height: 15px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-position: left top;
}
.star-rating li {
    display: inline;
}
.star-rating input, .star-rating .current-rating {
    position: absolute;
    top: -3px;
    left: -4px;
    text-indent: -1000em;
    height: 25px;
    line-height: 0px;
    outline: none;
    overflow: hidden;
    border: none;
}
.star-rating input:hover, .star-rating input:active {
    background-position: left bottom;
}
.star-rating input.one-star {
    width: 20%;
    z-index: 6;
}
.star-rating a.two-stars {
    width: 40%;
    z-index: 5;
}
.star-rating a.three-stars {
    width: 60%;
    z-index: 4;
}
.star-rating a.four-stars {
    width: 80%;
    z-index: 3;
}
.star-rating a.five-stars {
    width: 100%;
    z-index: 2;
}
.star-rating .current-rating {
    z-index: 1;
    background-position: left center;
}