<!DOCTYPE html>
<html>
<head>
  <title>Barn Burger® &#127828; Warszawa ul. Złota 9</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
